#### 파이썬 날짜 및 시간 객체

|클래스|내용|
|------|------------|
|class datetime.date|year,month,day 속성이 있음|
|class datetime.time|hour,minute,second,microsecond 속성이 있음|
|class datetime.datetime|날짜와 시간의 조합, year,month,day,hour,minute,second,microsecond 속성이 있음|

#### pandas 날짜
##### 1. 시계열 자료와 pandas
- 시계열 자료 : 년도별, 월별, 일별, 시별, 분별, 초별 등 시간의 흐름에 따라 관측된 자료
- 시계열 자료를 쉽게 다루기 위해 datetime 자료형 제공
- pandas.to_datetime() 함수를 사용해서 문자열의 데이터를 datetime 자료형으로 변경

In [1]:
import pandas as pd

In [2]:
pd.Series(range(3), index=pd.date_range('2025', freq='D', periods=3))

2025-01-01    0
2025-01-02    1
2025-01-03    2
Freq: D, dtype: int64

In [3]:
# freq='D' default

pd.Series(range(3), index=pd.date_range('2025', periods=3))

2025-01-01    0
2025-01-02    1
2025-01-03    2
Freq: D, dtype: int64

In [4]:
# 날짜를 values로 갖는 시리즈 생성

pd.Series(pd.date_range('2025', periods=3))

0   2025-01-01
1   2025-01-02
2   2025-01-03
dtype: datetime64[ns]

In [5]:
pd.Series(pd.date_range('20250201', periods=3))

0   2025-02-01
1   2025-02-02
2   2025-02-03
dtype: datetime64[ns]

In [8]:
ser1 = pd.Series(pd.date_range('20250201 09:10:12',freq='h', periods=3))
ser1

0   2025-02-01 09:10:12
1   2025-02-01 10:10:12
2   2025-02-01 11:10:12
dtype: datetime64[ns]

In [12]:
# pandas object 데이터 접근 : str
# pandas datetime 데이터 접근 : dt

# ser1 에서 시간 정보 접근 
ser1.dt.hour
ser1.dt.minute
ser1.dt.second
ser1.dt.month

0    2
1    2
2    2
dtype: int32

In [13]:
ser1[ser1.dt.day == 2]

Series([], dtype: datetime64[ns])

In [14]:
df = pd.DataFrame({
    "order":[
        "2024-01-10 07:10:00",
        "2024-01-10 07:10:00",
        "2024-01-10 07:10:00",
        "2024-01-10 07:10:00",
        "2024-01-10 07:10:00"
    ]
})
df

                 order
0  2024-01-10 07:10:00
1  2024-01-10 07:10:00
2  2024-01-10 07:10:00
3  2024-01-10 07:10:00
4  2024-01-10 07:10:00

In [15]:
df.dtypes

order    object
dtype: object

In [16]:
pd.to_datetime(df["order"])

0   2024-01-10 07:10:00
1   2024-01-10 07:10:00
2   2024-01-10 07:10:00
3   2024-01-10 07:10:00
4   2024-01-10 07:10:00
Name: order, dtype: datetime64[ns]

In [17]:
df = pd.DataFrame({
    "order":[
        "2024-01-10 07:10:00",
        "2024-01-10 07:10:00",
        "2024-01-10 07:10:00",
        "2024-01-10 07:10:00",
        None
    ]
})
df

                 order
0  2024-01-10 07:10:00
1  2024-01-10 07:10:00
2  2024-01-10 07:10:00
3  2024-01-10 07:10:00
4                 None

In [18]:
pd.to_datetime(df["order"])

0   2024-01-10 07:10:00
1   2024-01-10 07:10:00
2   2024-01-10 07:10:00
3   2024-01-10 07:10:00
4                   NaT
Name: order, dtype: datetime64[ns]